<a href="https://colab.research.google.com/github/a3hok/Data-Visualization-spring-2022/blob/main/Quiz_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Quiz 6

Ashok Dahal

###SQL Joins






#Examine the average trip on Austin bike share grouping by property_type column from the bikeshare_stations table. Is average time on trips starting from 'parkland' longer than from 'sidewalks'?

The following command is for Authenticate dataset from google cloud platform

In [5]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

I have used dataset from both the bikeshare_station and bike_trips as a joint dataset that retrives the total trips and average time consumed in property type values.

In [6]:
%%bigquery --project data-visualization-339004

SELECT property_type,COUNT(*) as total_trip, AVG(duration_minutes) as average_time
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations` as bike_station LEFT OUTER JOIN `bigquery-public-data.austin_bikeshare.bikeshare_trips` as bike_trip ON station_id = start_station_id
GROUP BY property_type
ORDER By average_time DESC

          property_type  total_trip  average_time
0    nonmetered_parking       32867     52.460188
1              parkland      162058     40.986955
2                             19776     33.502832
3              sidewalk      506315     31.453320
4          paid_parking      338035     28.032322
5  undetermined_parking      276171     26.095560
6                  None       65793     25.146568

The average time from Parkland would take longer than the average time from sidewalk from above table.