<a href="https://colab.research.google.com/github/a3hok/Data-Visualization-spring-2022/blob/main/Quiz17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ashok Dahal
#QUIZ 17



#1.Does converting SepalLength to integer increase or decrease the mean?

In [54]:
import pandas as pa
df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/iris.csv')
df.head()

   SepalLength  SepalWidth  PedalLength  PedalWidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [55]:
df.SepalLength.dtypes #checking the dtypes

dtype('float64')

In [56]:
df.SepalLength.mean() #finding the mean.

5.843333333333335

Changing into int dtypes and finding its mean.

In [57]:
df.SepalLength.astype('int').mean()

5.386666666666667

Here we can see that mean decreases when we convert it into int dtype.

#2.Does the direction of the shift remain the same if you groupby Class?

In [58]:
df.groupby('Class')
df.head()

   SepalLength  SepalWidth  PedalLength  PedalWidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

If we groupby Class I dont see any change and the  direction of the shift remain the same.

#3.Gather the mean, median, count and standard deviation of all columns when grouped by Class.

In [60]:
df.groupby('Class').agg(['mean','median','count', 'std'])

                SepalLength               ... PedalWidth
                       mean median count  ...     median count       std
Class                                     ...
Iris-setosa           5.006    5.0    50  ...        0.2    50  0.107210
Iris-versicolor       5.936    5.9    50  ...        1.3    50  0.197753
Iris-virginica        6.588    6.5    50  ...        2.0    50  0.274650

[3 rows x 16 columns]