<a href="https://colab.research.google.com/github/a3hok/Data-Visualization-spring-2022/blob/main/quiz%2016.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ashok Dahal
Quiz 16


Using the dataset from an IOT device retreived here https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv 

What is the minimum and maximum date and time?

What is the largest interval inbetween temperature checks?

What is the average datetime?

What was the average outside temperature on '11-09-2018'?
[ ]

In [88]:

import pandas as pa
import numpy as np

df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv')
df.head(15).T

                                             0   ...                                   14
id          __export__.temp_log_196134_bd201015  ...  __export__.temp_log_196095_788b2c27
room_id/id                           Room Admin  ...                           Room Admin
noted_date                     08-12-2018 09:30  ...                     08-12-2018 09:22
temp                                         29  ...                                   29
out/in                                       In  ...                                   In

[5 rows x 15 columns]

In [89]:
df.dtypes

id            object
room_id/id    object
noted_date    object
temp           int64
out/in        object
dtype: object

In [90]:
IOT_df.noted_date=pa.to_datetime(IOT_df.noted_date, format = '%d-%m-%Y %H:%M')
IOT_df

                                        id  room_id/id  ...    New_Date  New_Time
0      __export__.temp_log_196134_bd201015  Room Admin  ...  2018-12-08  09:30:00
1      __export__.temp_log_196131_7bca51bc  Room Admin  ...  2018-12-08  09:30:00
2      __export__.temp_log_196127_522915e3  Room Admin  ...  2018-12-08  09:29:00
3      __export__.temp_log_196128_be0919cf  Room Admin  ...  2018-12-08  09:29:00
4      __export__.temp_log_196126_d30b72fb  Room Admin  ...  2018-12-08  09:29:00
...                                    ...         ...  ...         ...       ...
97601   __export__.temp_log_91076_7fbd08ca  Room Admin  ...  2018-07-28  07:07:00
97602  __export__.temp_log_147733_62c03f31  Room Admin  ...  2018-07-28  07:07:00
97603  __export__.temp_log_100386_84093a68  Room Admin  ...  2018-07-28  07:06:00
97604  __export__.temp_log_123297_4d8e690b  Room Admin  ...  2018-07-28  07:06:00
97605  __export__.temp_log_133741_32958703  Room Admin  ...  2018-07-28  07:06:00

[97606 rows x 7 columns]

In [91]:
IOT_df['New_Date']=[d.date() for d in IOT_df['noted_date']]
IOT_df['New_Time']=[d.time() for d in IOT_df['noted_date']]
print(IOT_df)

                                        id  room_id/id  ...    New_Date  New_Time
0      __export__.temp_log_196134_bd201015  Room Admin  ...  2018-12-08  09:30:00
1      __export__.temp_log_196131_7bca51bc  Room Admin  ...  2018-12-08  09:30:00
2      __export__.temp_log_196127_522915e3  Room Admin  ...  2018-12-08  09:29:00
3      __export__.temp_log_196128_be0919cf  Room Admin  ...  2018-12-08  09:29:00
4      __export__.temp_log_196126_d30b72fb  Room Admin  ...  2018-12-08  09:29:00
...                                    ...         ...  ...         ...       ...
97601   __export__.temp_log_91076_7fbd08ca  Room Admin  ...  2018-07-28  07:07:00
97602  __export__.temp_log_147733_62c03f31  Room Admin  ...  2018-07-28  07:07:00
97603  __export__.temp_log_100386_84093a68  Room Admin  ...  2018-07-28  07:06:00
97604  __export__.temp_log_123297_4d8e690b  Room Admin  ...  2018-07-28  07:06:00
97605  __export__.temp_log_133741_32958703  Room Admin  ...  2018-07-28  07:06:00

[97606 rows x 7 columns]

In [92]:
IOT_df.New_Date.describe()

count          97606
unique            86
top       2018-10-17
freq           20564
Name: New_Date, dtype: object

In [93]:
IOT_df.New_Time.describe()

count        97606
unique        1440
top       14:17:00
freq           159
Name: New_Time, dtype: object

#What is the minimum and maximum date and time?

In [97]:
new1=IOT_df["New_Date"]
new2=IOT_df["New_Time"]

min_date=new1.min()
max_date=new1.max()
print("min date =" ,min_date)
print("max date =" ,max_date)

min date = 2018-07-28
max date = 2018-12-08

In [98]:
min_time=new2.min()
max_time=new2.max()
print("min time =" ,min_time)
print("max time =" ,max_time)

min time = 00:00:00
max time = 23:59:00

#What is the largest interval inbetween temperature checks?

In [118]:
differenceInDates =  df.temp 
differenceInDates.describe()

count    97606.000000
mean        35.053931
std          5.699825
min         21.000000
25%         30.000000
50%         35.000000
75%         40.000000
max         51.000000
Name: temp, dtype: float64