<a href="https://colab.research.google.com/github/a3hok/Data-Visualization-spring-2022/blob/main/Quiz18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ashok Dahal
#Quiz 18

In [30]:
import pandas as pa
df = pa.read_csv("https://raw.githubusercontent.com/nurfnick/Data_Viz/main/AB_NYC_2019.csv")
df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [31]:
ngrouplevel = sorted(df.neighbourhood_group.unique())
ngrouplevel

['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island']

The levels are gathered and sorted them alphabetically. Now building a dictionary.

In [32]:
eddict = {}

for i in range(5):
  eddict[ngrouplevel[i]] = i

eddict

{'Bronx': 0, 'Brooklyn': 1, 'Manhattan': 2, 'Queens': 3, 'Staten Island': 4}

In [33]:
df.groupby('neighbourhood_group').id.agg('count')

neighbourhood_group
Bronx             1091
Brooklyn         20104
Manhattan        21661
Queens            5666
Staten Island      373
Name: id, dtype: int64

Applying the dictionary with map.

In [34]:
df.neighbourhood_group.map(eddict)

0        1
1        2
2        2
3        1
4        2
        ..
48890    1
48891    1
48892    2
48893    2
48894    2
Name: neighbourhood_group, Length: 48895, dtype: int64

Now for Neighbourhood

Now, putting it back to the dataframe.

In [35]:
df.neighbourhood_group = df.neighbourhood_group.map(eddict)

df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]